annotated-types==0.7.0
greenlet==3.2.3
langdetect==1.0.9
numpy==2.3.1
pandas==2.3.0
playwright==1.53.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
soupsieve==2.7
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
